# kate: syntax INI Files;
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
inset_final_newline = true
trim_trailing_whitespace = true

[*.fish]
indent_size = 2

[*.xml]
indent_size = 2

[*.vim]
indent_size = 2
