[Unit]
Description=Tmux status sysinfo generator

[Service]
Type=simple
ExecStart=/usr/bin/python %h/.local/bin/gensysinfo.py
Restart=always

[Install]
WantedBy=default.target
